<table class="table table-dark table-striped-columns" border="1" [cellPadding]="2" [cellSpacing]="2" >
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Description</th>
            <th scope="col">Email</th>
            <th scope="col">Resume URL</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employeesList">
            <td class="table-info">
                {{e.id}}
            </td>
            <td class="table-info">
                {{e.firstName}}
            </td>
            <td class="table-info">
                {{e.lastName}}
            </td>
            <td class="table-info">
                {{e.email}}
            </td>
            <td class="table-info">
                {{e.resumeURL}}
            </td>
            <button class="btn btn-danger" [value]="e.id" (click)="delete($event)">delete</button>
        </tr>
    </tbody>
</table>