<p>about-us works!</p>
<!-- <span> {{studentName}}</span> -->
<br>
<!-- <input type="text" [value]="'e'"/> -->
<!-- <input type="text" [value]="studentName" id="stName"/> -->

<!-- <ul>
    <li>Name = {{student.name}}</li>
    <li>Age = {{student.age}}</li>
    <li>city = {{student.city}}</li>
</ul> -->
<table>
    <tr *ngFor="let p of products">
        <td>{{p.id}}</td>
        <td>{{p.name | uppercase}}</td>
        <td>{{p.price | currency:'CNY'}}</td>
        <td>
            <a href="/product/edit/{{p.id}}/{{p.name}}"> Edit </a>
        </td>
        <td>
            <a [routerLink]="['/product/edit/',p.id,p.name]"> Edit </a>
        </td>
    </tr>
</table>
